/* ejemplo1b.css   MR16016  */
fichero {background-color:teal;}
ficha {background-color:white; display:block;} 
nombre {color:black; display:inline;} apellido {color:black; display:inline;}
direccion {color:green;font-size:0.5 cm; display:inline;}
email {color:green;font-size:0.5 cm; display:inline;}
web {color:green;font-size:0.5 cm; display:inline;}
dui {color:green;font-size:0.5 cm; display:inline;}
isss {color:green;font-size:0.5 cm; display:inline;}
afp {color:green;font-size:0.5 cm; display:inline;}